{% extends "base.html" %}
{% block title %}Register System{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
         <p>{{ message }}</p>
    </div>
{% endif %}

<form action = "" method = "post">
    <div class="register-form">
        <div class="form-group">
            <label for = "inputfullname">Full name</label>
            <input name="fullname" class="form-control" id="inputfullname" aria-describedby="emailHelp" placeholder="Enter your full name">
            <small id="fullname" class="form-text text-muted">Please enter your full name(First name and Last name)</small>

        </div>
        <div class="form-group ">
            <label for = "Email">Email</label>
            <input name="email" class="form-control" id="inputemail" aria-describedby="emailHelp" placeholder="Enter your email">
            <small id="email" class="form-text text-muted">Please enter your email</small>
        </div>
        <div class="form-group pass" >
            <label for="InputPassword">Password</label>
            <input type="password" name="password1" class="form-control" id="InputPassword" placeholder="Password">
            <span class="strength" id="strength">Your password is Weak</span>
        </div>
        <div class="form-group pass">
            <label for="InputPassword2">Repeat Password</label>
            <input type="password" name="password2" class="form-control" id="InputPassword2" placeholder="Repeat Password">
        </div>
        <button type="submit" class="btn btn-primary submit-button">Submit</button>
    </div>


</form>



{% endblock %}